
<div id='map-wrap'>
	<h1>Find a Bin Near You!</h1>
	<div id="form-wrap">
<h1 id="formTitle">Add New Bin Location</h1>
<br/>

<%= render 'form' %>

</div>
	<div id="map-canvas"></div>


	<div id="filter">

	<span class="label">
		<input type="checkbox" name="goodwill" value="goodwill" id="box2" checked="checked"/>Goodwill</span>
		<br/>
	<span class="label">
		<input type="checkbox" name="sArmy" value="sArmy" id="box3" checked="checked"/>Salvation Army</span>
		<br/>

<br/>

</div>
</div>








<!-- HIDDEN MAP MARKER INFORMATION. DO NOT TOUCH  -->


<div id="hiddenMapContent">


	<div id="addressAmt"> <%= @addressAmt %> </div>

	<div id="mapInfo">
	<h1> full addresses</h1>
		<% x = 0 %>
		<% @fullAddress.each do |m| %>
			<%= "<div id='fullAddress_#{x}'> #{m} </div>".html_safe %>
			<% x += 1 %>
		<% end %>
	</div>
<br/>
		<div id="markerLats">
		<h1> marker latitudes </h1>
		<% x = 0 %>
		<% @mapLats.each do |lat| %>
			<%= "<div id='latitude_#{x}'> #{lat} </div>".html_safe %>
			<% x += 1 %>

		<% end %>
	</div>
<br/>

	<div id="markerLngs">
	<h1> marker longitudes </h1>
		<% x = 0 %>
		<% @mapLngs.each do |lng| %>
			<%= "<div id='longitude_#{x}'> #{lng} </div>".html_safe %>
			<% x += 1 %>

		<% end %>
	</div>
<br/>

	<div id="locationOrgName">
	<h1> org names </h1>
		<% i = 0 %>
		<% @orgName.each do |n| %>
			<%="<div id='orgName_#{i}'> #{n} </div>".html_safe %>
			<% i += 1 %>
		<% end %>
	</div>

<br/>
	<div id="orgID">
	<h1> org ID </h1>
		<% i = 0 %>
		<% @orgID.each do |n| %>
			<%="<div id='orgID_#{i}'> #{n} </div>".html_safe %>
			<% i += 1 %>
		<% end %>
	</div>

</div>


<!-- END OF HIDDEN MAP CONTENT -->
