<!DOCTYPE html>
<html>
<head>
  <title>Find-A-Bin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<nav>
	<div id="navLogo">Find-A-Bin</div>

	<ul id="navMenu">
		<li><%= link_to 'Mission', mission_path %></li>
		<li><%= link_to 'Locations', root_path %></li>
		<li><%= link_to 'Contact', contact_path %></li>
		<li><%= link_to 'Add Bin Location', new_location_path %></li>
		<li> <%= link_to 'Add New Org', new_organization_path %></li>
	</ul>

</nav>


<%= yield %>

</body>
</html>
