<!DOCTYPE html>
<html>
<head>
  <title>Find-A-Bin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Comfortaa:700|Open+Sans' rel='stylesheet' type='text/css'>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
</head>
<body>
<div class="wrapper">
	<div id="navbar">
		<div id="navLogo">Find-A-Bin</div>

		<ul id="navMenu">
			<li><%= link_to 'Mission', mission_path %></li>
			<li><%= link_to 'Locations', root_path %></li>
			<li><%= link_to 'Contact', contact_path %></li>
			<li><%= link_to 'Add Bin Location', new_location_path %></li>
			<li> <%= link_to 'Add New Org', new_organization_path %></li>
		</ul>

	</div>

<div id="mainWrapper">
	<%= yield %>

</div>
<div class="push"></div>
</div>

<div class="footer">

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit tempore, nulla <a href="#">labore obcaecati </a>commodi qui similique mollitia ad itaque nisi aliquam error quidem quas fugiat!

</div>
</body>
</html>
